%h1= @question_board.title
%p
  %b 質問
  %ul
    - @question_board.questions.each do |question|
      %li= question.content

= link_to '編集する', edit_loggedin_question_board_path(@question_board)
\|
= link_to '戻る', loggedin_question_boards_path
